Add Encoding and Decoding with Extended HEX Alphabet

Add API to allow consumers to encode and decode using the extended HEX alphabet as defined by [section 7 of RFC 4648](https://tools.ietf.org/html/rfc4648#section-7).

This means:

- Add new methods to `Base32` struct.
- Add new alphabet
- Extend test suite